[project]
name = "python-iteration"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "mypy>=1.19.1",
    "pylint>=4.0.4",
    "pytest>=9.0.2",
]
